* {
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-primary {
    color: #0D1321;
}

.text-secondary {
    color: #FFFFFF;
}

.section-width {
    width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.section-content {
    width: 950px;
    margin: 0 auto;
}

.dev-box-width {
    width: 480px;
}

.dev-box-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    opacity: 0.7;
    margin-bottom: 16px;
}

.dev-box-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}

.dev-box-btn {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    opacity: 0.7;
    border: 1px solid rgb(13, 19, 33);
    background: none;
}

/* card shared styles */
.card-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}

.card-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 24px;
    opacity: 0.7;
}

.card-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}


/* Shared Styles End */

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.navbar>h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
}

.nav-btn {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: #FFFFFF;
    cursor: pointer;
}

/* Hero-Banner Styles */
.hero-banner {
    height: 700px;
    background-image: url('../assets/Hero-bg.png');
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content>img {
    padding: 32px 0;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

.hero-description {
    width: 900px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    padding: 24px 0 32px 0;
    opacity: 0.7;
}

.hero-btn {
    padding: 22px 24px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    border: none;
    background: rgb(13, 19, 33);
    cursor: pointer;
}

/* Web Development Section Styles */
.web-development-section {
    margin-top: 75px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 0;
}


.dev-box-1 {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
    margin-top: 48px;
    padding: 48px 0;
}

.dev-box-2 {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 32px;
    padding: 48px 0;
}

.dev-box-3 {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px 0;
}

/* Inspiration Section Styles*/
.inspiration-section {
    margin-top: 90px;
}

.inspiration-video {
    margin-top: 48px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-video iframe {
    border-radius: 16px;
}

/* Current Target Styles */
.current-target {
    margin-top: 120px;
}

.card-items {
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

.card-items h4 {
    margin-top: 24px;
}

.card-width {
    width: 380px;
    border-radius: 16px;
    padding: 40px;
}

.html-card {
    background: rgba(255, 76, 30, 0.05);
}

.css-card {
    background: rgba(0, 76, 232, 0.05);
}

.js-card {
    background: rgba(255, 223, 0, 0.05);
}

/* Next Target Section Styles */

.next-target {
    margin-top: 100px;
    margin-bottom: 48px;
}

.next-card {
    display: flex;
    gap: 24px;
    align-items: center;
}

.card-border {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 32px;
    margin-top: 48px;
}

/* Support Section Styles */
.support-section {
    height: 340px;
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.support-box {
    width: 750px;
    margin: 0 auto;
    padding-top: 64px;
}

.support-box-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.support-box-description {
    width: 600px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}

.contact-info {
    margin-top: 24px;
}

.contact-info input[type="text"] {
    width: 540px;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.contact-info ::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    opacity: 0.4;
}

.contact-info input[type="submit"] {
    padding: 17px 20px;
    border-radius: 8px;
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: #FFFFFF;
}